.container-contact-me {
    margin: 200px 0 0 160px;
    flex-direction: column;
    padding-bottom: 130px;
}

.main-title_contact-me {
    margin-bottom: 95px; 
    font-size: 36px;   
}

.form {
    max-width: 880px;
    display: flex;
    flex-direction: column;
}

.form__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    &:last-child {
        margin-bottom: 60px;
    }
}

