.nav_footer {
    margin-bottom: 70px;
    position: relative;
    left: -30px;
}

.nav__list {
    display: flex;
    align-items: center; 
    flex-flow: row wrap;
}


.nav__link {
    padding: 0 30px 5px;
    border-bottom: 3px solid transparent;

    &:hover {
        color: $hover-color;
        border-bottom: 3px solid $hover-color;
    }
}

.nav__link_footer {
    color: #fff;
}