-
  var infoList=[
    {
      title: 'Проживаю', 
      text:'Домодедово', 
    },{
      title: 'Возраст', 
      text:'28', 
    },{
      title: 'Родился', 
      text:'2 апреля 1991 г.', 
    }
  ]

+questionnaire('questionnaire', infoList, 'text-mod') 