-
  var skillList=[
    [
      {
      text: 'HTML5', 
      percent:'50', 
      },{
        text: 'CSS', 
        percent:'75', 
      },{
        text: 'Javascript', 
        percent:'25', 
      },{
        text: 'jQuery и Vue.js', 
        percent:'10', 
      }
    ],[
      {
      text: 'Git', 
      percent:'37', 
      },{
        text: 'Terminal', 
        percent:'86', 
      },{
        text: 'Gulp', 
        percent:'30', 
      },{
        text: 'Webpack', 
        percent:'44', 
      }
    ]
  ]




//+skillwheel('skillwheel', 'Front-end', skillList[0])
//+skillwheel('skillwheel', 'Workflow', skillList[1])